.benefits {
  background-color: #1e1823;
}

.benefits-ul {
  display: flex;
  flex-wrap: wrap;
  //   background-color: red;
  justify-content: space-between;
}

.benefits-list {
  max-width: 308px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

.benefits-list .icons {
  //   margin-top: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.18px; // for desktop view only
  margin-bottom: 18px;
}

.text {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.benefits-ul svg {
  margin-bottom: 22px;
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    position: relative;
  }

  .benefits-list:not(:last-child) {
    max-width: 326px;
    padding-right: 18px;
  }

  .benefits-list:not(:last-child):after {
    content: '';
    position: absolute;
    display: block;
    width: 124px;
    height: 0px;
    top: 110px;
    right: -60px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    transform: rotate(90deg);
  }

  .benefits-container {
    padding: 50px 0;
  }
}

@media screen and (max-width: 1200px) {
  .benefits-container {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .benefits-container {
    padding: 20px 0;
  }

  .benefits-list:nth-child(2) {
    margin-top: 20px;
  }

  .benefits-list:nth-child(3) {
    margin-top: 20px;
  }
}
