@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --black: #111;
  --darkpurple: #1e1823;
  --orange: #fd9222;
  --white: #fff;
  --offwhite: #fafafa;
  --matterhorn: #4c4c4c;
  --zircon: #eceded;
  --montserrat: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--offwhite);
  font-family: var(--montserrat);
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
}

@media screen and (max-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 335px;
    margin: 72px auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
    margin: 72px auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    margin: 100px auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
    margin: 128px auto;
  }
}