.hero-container {
  background-image: url(../images/chocolate-covered-cocoa-powder1.png);
  width: 1136px;
  height: 600px;
  flex-shrink: 0;
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/chocolate-covered-cocoa-powder1.png),
    lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content-container {
  padding: 381px 40px 40px 40px;
  display: flex;
  width: 1056px;
  height: 179px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.hero-text {
  width: 484px;
  height: 102px;
  // flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.84px;
  margin: 32px;
}
.hero-buy {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  // display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
}

.hero-how {
  width: 103px;
  height: 17px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  display: flex;
  width: 183px;
  height: 45px;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
}

.hero-button-container {
  display: flex;
  width: 341px;
  height: 45px;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  padding-bottom: 100px;
}
