html {
    box-sizing: border-box;
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;
    }

    .how-its-made-section {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .how-its-made-header {
        color: var(--black);
        text-align: center;
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
    }

    .orange-text {
        color: var(--orange);
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    .youtube-video-container {
        width: 335px;
        height: 500px;
        padding: 0 20px;
        flex-direction: column;
    }

    .video-cover {
        position: relative;
        z-index: 999;
        width: 335px;
        height: 500px;
        padding: 20px;
        border-radius: 15px;
        background-image: url(../images/how-its-made/instruction-video-1x.jpg);
        background-position: center;
        background-size: cover;
    }

    .play-button {
        cursor: pointer;
    }

    .how-its-made-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding: 20px 14px;
        background-color: var(--white);
    }

    .how-its-made-text {
        text-align: left;
        width: 307px;
        color: var(--black);
        font-family: inherit;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .how-its-made-list {
        width: 291px;
    }

    .how-its-made-step {
        text-align: left;
        color: var(--black);
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        margin: 72px auto;
    }

    .how-its-made-section {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .how-its-made-header {
        color: var(--black);
        text-align: center;
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
    }

    .orange-text {
        color: var(--orange);
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    .youtube-video-container {
        width: 335px;
        height: 500px;
        padding: 0 20px;
        flex-direction: column;
    }

    .video-cover {
        width: 335px;
        height: 500px;
        padding: 20px;
        border-radius: 15px;
        background-image: url(../images/how-its-made/instruction-video-1x.jpg);
        background-position: center;
        background-size: cover;
    }

    .play-button {
        width: 35px;
        height: 35px;
        position: absolute;
        left: 150px;
        top: 233px;
        cursor: pointer;
    }

    .how-its-made-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding: 20px 14px;
        background-color: var(--white);
    }

    .how-its-made-text {
        text-align: left;
        width: 307px;
        color: var(--black);
        font-family: inherit;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .how-its-made-list {
        width: 291px;
    }

    .how-its-made-step {
        text-align: left;
        color: var(--black);
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        min-width: 1200px;
        margin: 128px auto;
    }

    .how-its-made-section {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .how-its-made-header {
        color: var(--black);
        text-align: center;
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
    }

    .orange-text {
        color: var(--orange);
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    .youtube-video-container {
        width: 335px;
        height: 500px;
        padding: 0 20px;
        flex-direction: column;
    }

    .video-cover {
        width: 335px;
        height: 500px;
        padding: 20px;
        border-radius: 15px;
        background-image: url(../images/how-its-made/instruction-video-1x.jpg);
        background-position: center;
        background-size: cover;
    }

    .play-button {
        width: 35px;
        height: 35px;
        position: absolute;
        left: 150px;
        top: 233px;
        cursor: pointer;
    }

    .how-its-made-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding: 20px 14px;
        background-color: var(--white);
    }

    .how-its-made-text {
        text-align: left;
        width: 307px;
        color: var(--black);
        font-family: inherit;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .how-its-made-list {
        width: 291px;
    }

    .how-its-made-step {
        text-align: left;
        color: var(--black);
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        margin-bottom: 18px;
    }
}