/*Header*/

/*Logo*/
.logo {
    color: 111111;
    font-family: Monteserrat, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.03px;
    text-transform: uppercase;
}

.logo-ital {
    font-style: italic;
    color: 111111;
    font-family: Monteserrat, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.03px;
    text-transform: uppercase;
}

