.review-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-pagination-horizontal {
  z-index: 0;
}

.is-hidden-review {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window-review {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: var(--offwhite);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
}

.modal-button-close-review {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  padding: 0;
  border: 0px;
  background-color: #fafafa;
  stroke: #111111;
  cursor: pointer;
}

.modal-button-close-review:hover,
.modal-button-close-review:focus {
  stroke: var(--orange);
}

.modal-review-title {
  color: #111;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.modal-review-title > span {
  color: var(--orange);
}

.modal-review-form input {
  width: 100%;

  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  margin-bottom: 18px;

  background-color: var(--offwhite);
}

.modal-review-form textarea {
  width: 100%;
  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  margin-bottom: 18px;

  background-color: var(--offwhite);
}

.review-modal-send-btn {
  border-radius: 100px;
  background-color: var(--orange);
  padding: 14px 40px;
  color: white;

  border: 1px solid var(--orange);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.review-modal-send-btn:hover {
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fcf1e0;
  color: var(--orange);
}

::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.wrapper-phone {
  position: absolute;
  display: flex;
  left: 24px;
  padding-top: 0px;
  border-right: 2px solid gray;
  margin-bottom: 17px;
}

.phone-number-reviews {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  margin-right: 28px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  color: #000;
}

.modal-reviews-field {
  position: relative;
  display: flex;
  align-items: center;
}

.modal-review-form .input-number-reviews {
  padding-left: 178px;
}

.modal-flag-svg {
  margin-right: 18px;
}

@media screen and (min-width: 1200px) {
  .modal-window-review {
    width: 517px;
    height: 628px;
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window-review {
    width: 517px;
    height: 628px;
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .modal-window-review {
    width: 311px;
    height: 471px;
    padding: 32px 24px;
  }

  .modal-review-title {
    margin-bottom: 32px;

    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;

    margin-bottom: 32px;
    width: 255px;
  }

  .modal-review-form input {
    width: 100%;
    padding: 14px 18px;
    margin-bottom: 14px;

    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .modal-review-form textarea {
    width: 100%;
    height: 91px;
    padding: 14px 18px;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .review-modal-send-btn {
    padding: 12px 28px;
    font-size: 14px;
  }

  .modal-button-close-review {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  .modal-review-form .input-number-reviews {
    padding-left: 108px;
  }

  .wrapper-phone {
    position: absolute;
    display: flex;
    left: 18px;
    padding-top: 0px;
    border-right: 2px solid gray;
    margin-bottom: 17px;
  }

  .modal-flag-svg {
    margin-right: 8px;
  }

  .phone-number-reviews {
    line-height: normal;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    color: #000;
  }
}
