<section class="benefits">
<div class="benefits-container">
     <h2 class="visually-hidden">Advantages</h2>

     <ul class="sec list">

          <li class="sep">
             <div class="icon-container">                
                <svg 
                    xmlns="http://www.w3.org/ 2000/svg" 
                    width="32" 
                    height="32"
                    class="icons">

                     <use href="./images/benefits-icon.svg#choco">

                    </use>
                 </svg>
                
                  <div>

                    <h3 class="title">Unsurpassed taste</h3>
                     <p class="text">Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience that simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.</p>  

                </div>  
            </div> 
                
        </li> 

      
                 
        <li class="sep">
            <div class="icon-container">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="32" 
                    height="32"
                    class="icons">

                    <use href="./images/benefits-icon.svg#coin">

                    </use>
                </svg>
                
                <div>

                    <h3 class="title">Affordable price</h3>
                    <p class="text">Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats. Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse our selection and indulge in affordable luxury today.</p>

                 </div>
            </div>
        </li>



        <li>
            <div class="icon-container">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="32" 
                    height="32"
                    class="icons">

                    <use href="./images/benefits-icon.svg#spoon"></use>
                </svg>
               
                
                <div>
 
                    <h3 class="title">Own production</h3>
                    <p class="text">We take pride in our own production process, ensuring that every step is carefully crafted to perfection. From selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.</p>

                </div>
            </div>
        </li> 
      
    </ul>
</div>
</section>-