<section class="exceptional-section">
  <div class="container">
    <h2 class="exceptional-section-header">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste-text">TASTE</span> SENSATION
    </h2>

    <p class="exceptional-section-desc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="exceptional-section-components">
      <li class="components-list">
        <div class="image-box orange-bg">
          <img
            src="./images/unique-components/milk-chocolate.png"
            alt="Milk Chocolate"
            width="206"
            height="160"
          />
          <h3>Milk Chocolate</h3>
        </div>
      </li>

      <li class="components-list">
        <div class="image-box orange-border">
          <img
            src="./images/unique-components/milk.png"
            alt="Milk"
            width="206"
            height="160"
          />
          <h3>Milk</h3>
        </div>
      </li>

      <li class="components-list">
        <div class="image-box black-bg">
          <img
            src="./images/unique-components/nuts.png"
            alt="Nuts"
            width="206"
            height="160"
          />
          <h3>Nuts</h3>
        </div>
      </li>

      <li class="components-list">
        <div class="image-box orange-border">
          <img
            src="./images/unique-components/semi-sweet-choco.png"
            alt="Semi - Sweet Chocolate"
            width="206"
            height="160"
          />
          <h3>Semi - Sweet Chocolate</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
