<section class="exceptional-section">
  <div class="container">
    <h2 class="exceptional-section-header">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste-text">TASTE</span> SENSATION
    </h2>

    <p class="exceptional-section-desc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <!-- Image Box 1 -->
    <ul class="exceptional-section-components">
      <li class="components-list">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="image-box orange-bg">
                <img
                  src="./images/unique-components/milk-chocolate.png"
                  alt="Milk Chocolate"
                  width="206"
                  height="160"
                />
                <h3>Milk Chocolate</h3>
              </div>
            </div>

            <div class="back">
              <div class="components-info">
                <h3 class="components-info-header">Milk Chocolate</h3>
                <div class="components-tags">
                  <h4 class="tag tag-one">chocolate</h4>
                  <h4 class="tag tag-two">the benefits</h4>
                </div>
                <p class="components-info-desc">
                  Milk chocolate is a solid chocolate confectionery containing
                  cocoa, sugar and milk. It is the most consumed type of
                  chocolate. Chocolate was originally sold and consumed as a
                  beverage in pre-Columbian times. Although four-fifths of all
                  milk chocolate is sold in the United States and Europe.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- Image Box 2 -->
      <li class="components-list">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="image-box orange-border">
                <img
                  src="./images/unique-components/milk.png"
                  alt="Milk"
                  width="206"
                  height="160"
                />
                <h3>Milk</h3>
              </div>
            </div>

            <div class="back">
              <div class="components-info">
                <h3 class="components-info-header">Milk</h3>
                <div class="components-tags">
                  <h4 class="tag tag-one">milk</h4>
                  <h4 class="tag tag-two">the benefits</h4>
                </div>
                <p class="components-info-desc">
                  Milk is a white liquid food produced by the mammary glands of
                  mammals. It is the primary source of nutrition for young
                  mammals (including breastfed human infants) before they are
                  able to digest solid food. Early-lactation milk, which is
                  called colostrum, contains antibodies that strengthen the
                  immune system.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- Image Box 3 -->
      <li class="components-list">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="image-box black-bg">
                <img
                  src="./images/unique-components/nuts.png"
                  alt="Nuts"
                  width="206"
                  height="160"
                />
                <h3>Nuts</h3>
              </div>
            </div>

            <div class="back">
              <div class="components-info">
                <h3 class="components-info-header">Nuts</h3>
                <div class="components-tags">
                  <h4 class="tag tag-one">nuts</h4>
                  <h4 class="tag tag-two">the benefits</h4>
                </div>
                <p class="components-info-desc">
                  Almonds, pistachios, and walnuts are some types of nuts that
                  contain healthy nutrients. When eaten as part of a
                  nutrient-dense diet, these 9 nuts may offer benefits such as
                  reducing your risk of heart disease. They’re a good source of
                  fiber, healthy fats, and plant protein. Plus, they’re great on
                  their own.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- Image Box 4 -->
      <li class="components-list">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="image-box orange-border">
                <img
                  src="./images/unique-components/semi-sweet-choco.png"
                  alt="Semi - Sweet Chocolate"
                  width="206"
                  height="160"
                />
                <h3>Semi - Sweet Chocolate</h3>
              </div>
            </div>

            <div class="back">
              <div class="components-info">
                <h3 class="components-info-header">Semi - Sweet Chocolate</h3>
                <div class="components-tags">
                  <h4 class="tag tag-one">sweet chocolate</h4>
                  <h4 class="tag tag-two">the benefits</h4>
                </div>
                <p class="components-info-desc">
                  Semi-sweet chocolate has a cocoa solid content of 35 to 65%.
                  One of the best ways to gain an understanding of this type of
                  chocolate is to compare it to a different type of chocolate.
                  Semisweet is darker than milk chocolate. In a taste
                  comparison, it has a slightly bitter taste whereas milk
                  chocolate is sweeter and more mellow.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
