<footer>
  <div class="container footer-container">
    <div class="footer-title-contact-social">
      <h2 class="footer-title">
        <span>Chocolate</span> a delicious <br />
        cure for a bad day
      </h2>
      <div class="footer-contact-social">
        <div class="footer-contact-container">
          <p class="footer-text">Contact us</p>
          <address class="footer-address">
            <ul class="footer-contact-list">
              <li><a href="tel:+380684439426<">+380 (68) 443-94-26</a></li>
              <li>
                <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-social-container">
          <ul class="footer-social-svg">
            <li>
              <a href="https://www.instagram.com/" class="link footer-svg-link">
                <svg class="footer-svg" width="22" height="22">
                  <use href="./images/footer/footer.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/" class="link footer-svg-link">
                <svg class="footer-svg" width="22" height="22">
                  <use href="./images/footer/footer.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-page-link">
      <ul class="footer-nav">
        <li class="footer-item"><a href="">Home</a></li>
        <li class="footer-item"><a href="#how-its-made">How it's made?</a></li>
        <li class="footer-item"><a href="#products">Our products</a></li>
        <li class="footer-item"><a href="#top-sellers">Top sellers</a></li>
        <li class="footer-item"><a href="#reviews">Chocolate is loved</a></li>
      </ul>
    </div>
  </div>
</footer>
