<section class="hero-section">
  <div class="hero-container">
    <div class="content-container">
      <h1 class="hero-text">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <div class="hero-button-container">
        <button class="hero-buy" data-modal-open>Buy Now</p>
        <button class="hero-how">How It's made</p>
      </div>
      <div class="hero-scroll-container">
        <p class="hero-scroll">scroll down</p>
        <p class="hero-arrow">How It's made</p>
      </div>
    </div>
  </div>
</section>
