<section class="how-its-made-section">
    <h2 class="how-its-made-header">How It's <span class="orange-text">Made</span></h2>
        <div class="container youtube-video-container">
            <div class="video-cover youtube-link">
                <button class="play-button" type="button">
                    <svg class="play-button-svg" 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="14" 
                        height="15"
                        id="play-button-mobile">
                        <use href="../images/how-its-made-icons.svg#play-button-mobile"></use>
                    </svg>
                </button>
                <iframe width="560px" height="315px" 
                    src="https://www.youtube.com/embed/r4Cr6jm4i-E?si=pPjK6W--4MNCmLpl"
                    title="The Giant Chocnut" 
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="container instruction-step-container">
            <p class="how-its-made-text">Try our chocolates today and discover the perfect balance of flavor</p>
            <ul class="how-its-made-list list">
                <li class="how-its-made-step">
                    <svg class="bulletpoint-svg" xmlns="http://www.w3.org/2000/svg" width="8" height="8">
                        <use href="../images/how-its-made-icons.svg#bulletpoint-mobile"></use>
                    </svg>
                    <p class="how-to-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder</p>
                </li>
                <li class="how-its-made-step">
                    At the same time, prepare a water bath. Melt the butter on it.
                </li>
                <li class="how-its-made-step">
                    "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes
                    uniform and silky.
                </li>
                <li class="how-its-made-step">
                    Heat the mixture over low heat, letting it barely boil.
                </li>
                <li class="how-its-made-step">
                    Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.
                </li>
            </ul>
        </div>
</section>