<section class="how-its-made-section">
    <div class="container">
        <h2 class="how-its-made-header">How It's <span class="orange-text">Made</span></h2>
        <div class="cover-container">
            <img src="./images/how-its-made/cooking-preparation.jpg" alt="cooking preparation">
            <div class="play-button" id="play-button">
                <svg class="play-button-svg" xmlns="http://www.w3.org/2000/svg" width="14" height="15">
                    <use href="../images/how-its-made-icons.svg#play-mobile">
                    </use>
                </svg>
            </div>
        </div>
        <video id="video" controls>
            <source src="https://www.youtube.com/embed/r4Cr6jm4i-E?si=pPjK6W--4MNCmLpl" type="video/mp4">
        </video>
        <div class="how-its-made-container">
            <p class="how-its-made-text">Try our chocolates today and discover the perfect balance of flavor</p>
            <ul class="how-its-made-list list">
                <li class="how-its-made-step">
                    <svg class="bulletpoint-svg" xmlns="http://www.w3.org/2000/svg" width="8" height="8">
                        <use href="./images/how-its-made-icons.svg#bulletpoint-mobile"></use>
                    </svg>
                    <span class="how-to-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder</span>
                </li>
                <li class="how-its-made-step">
                    <svg class="bulletpoint-svg" xmlns="http://www.w3.org/2000/svg" width="8" height="8">
                        <use href="./images/how-its-made-icons.svg#bulletpoint-mobile"></use>
                    </svg>
                    <span class="how-to-text">At the same time, prepare a water bath. Melt the butter on it.</span>
                </li>
                <li class="how-its-made-step">
                    <svg class="bulletpoint-svg" xmlns="http://www.w3.org/2000/svg" width="8" height="8">
                        <use href="./images/how-its-made-icons.svg#bulletpoint-mobile"></use>
                    </svg>
                    <span class="how-to-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</span>
                </li>
                <li class="how-its-made-step">
                    <svg class="bulletpoint-svg" xmlns="http://www.w3.org/2000/svg" width="8" height="8">
                        <use href="./images/how-its-made-icons.svg#bulletpoint-mobile"></use>
                    </svg>
                    <span class="how-to-text">Heat the mixture over low heat, letting it barely boil.</span>
                </li>
                <li class="how-its-made-step">
                    <svg class="bulletpoint-svg" xmlns="http://www.w3.org/2000/svg" width="8" height="8">
                        <use href="./images/how-its-made-icons.svg#bulletpoint-mobile"></use>
                    </svg>
                    <span class="how-to-text">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</span>
                </li>
            </ul>
        </div>
    </div>
</section>