<header class="page-header">
    <div class="header-container">
        <div class="logo-container">
            <a href="./index.html" class="link logo"><span class="logo-ital">SIMPLY</span>CHOCOLATE
            </a>

            <svg class="icon" width="24" height="24">
                <use href="./images/header/header.svg#chocologo"></use>
            </svg>
        </div>
        
        <nav class="navigation">
            <ul class="navmenu list">
                <li class="nav-item">
                  <a class="navmenu-link link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="navmenu-link link" href="#how-its-made">How it's made?</a>
                </li>
                <li class="nav-item">
                  <a class="navmenu-link link" href="#ourproducts">Our products</a>
                </li>
                <li class="nav-item">
                  <a class="navmenu-link link" href="#topsellers">Top sellers</a>
                </li>
                <li class="nav-item">
                    <a class="navmenu-link link" href="#contacts">Chocolate is loved</a>
                  </li>
              </ul>
        </nav>git

        <div class="divsocial">
                <ul class="list navsocial">
                    <li class="social-item">
                        <a class="soclink" href="./index.html">
                            <svg class="socicons" width="24" height="24">
                                <use href="./images/header/header.svg#instagram">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a class="soclink" href="./index.html">
                            <svg class="socicons" width="24" height="24">
                                <use class="social" href="./images/header/header.svg#tweeter">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
        </div>

        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="mobile-menu-icon" width="32" height="32">
                <use href="./images/header/header.svg#burger"></use>
            </svg>
        </button>
        
    </div>
</header>

<!-- Mobile Menu -->
<div class="menu-container js-menu-container" id="burger">
    <button type="button" class="menu-toggle js-close-menu mobile-close-btn">&times;
    </button>

    <ul class="mobile-menu-list list">
        <li class="mobile-menu-item">
            <a href="index.html" class="mobile-menu-link">Home</a>
        </li>
        <li class="mobile-menu-item">
            <a href="#how-its-made" class="mobile-menu-link">How it's made</a>
        </li>
        <li class="mobile-menu-item">
            <a href="#our-products" class="mobile-menu-link">Our products</a>
        </li>
        <li class="mobile-menu-item">
            <a href="#top-sellers" class="mobile-menu-link">Top sellers</a>
        </li>
        <li class="mobile-menu-item">
            <a href="#chocolate-is-loved" class="mobile-menu-link">Chocolate is loved</a>
        </li>
    </ul>

    <ul class="list mobile-social-list">
            <li class="mobile-social-item">
                <a class="mobile-soclink" href="./index.html">
                    <svg class="mobile-socicons" width="22" height="22">
                        <use href="./images/header/header.svg#instagram">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="mobile-social-item">
                <a class="mobile-soclink" href="./index.html">
                    <svg class="mobile-socicons" width="22" height="22">
                        <use class="social" href="./images/header/header.svg#tweeter">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>



</div>