<section class="section">
  <h2 class="title">Our Products</h2>
  <ul class="list">
    <li class="card-product">
      <img
        src="./images/orange-darkchocolate.png"
        alt="Orange Dark Chocolate"
        class="img-item"
        width="230"
        height="201"
      />
      <h3 class="subtitle-item">Orange</h3>
      <p class="desc-item">Dark chocolate</p>
      <p class="price-item">45 UAH</p>
    </li>
    <li class="card-product">
      <img
        src="./images/apple-cranberry-milkchocolate.png"
        alt="Apple&Cranberry Milk chocolate"
        class="img-item"
        width="230"
        height="201"
      />
      <h3 class="subtitle-item">Apple&Cranberry</h3>
      <p class="desc-item">Milk chocolate</p>
      <p class="price-item">50 UAH</p>
    </li>
    <li class="card-product">
      <img
        src="./images/lime-seasalt-darkchocolate.png"
        alt="Lime&Sea Salt Dark chocolate"
        class="img-item"
        width="230"
        height="201"
      />
      <h3 class="subtitle-item">Lime&Sea Salt</h3>
      <p class="desc-item">Dark chocolate</p>
      <p class="price-item">66 UAH</p>
    </li>
    <li class="card-product">
      <img
        src="./images/pineapple-darkchocolate.png"
        alt="Pineapple Dark chocolate"
        class="img-item"
        width="230"
        height="201"
      />
      <h3 class="subtitle-item">Pineapple</h3>
      <p class="desc-item">Dark chocolate</p>
      <p class="price-item">54 UAH</p>
    </li>
    <li class="card-product">
      <img
        src="./images/classic-milkchocolate.png"
        alt="Classic Milk chocolate"
        class="img-item"
        width="230"
        height="201"
      />
      <h3 class="subtitle-item">Classic</h3>
      <p class="desc-item">Milk chocolate</p>
      <p class="price-item">45 UAH</p>
    </li>
    <li class="card-product">
      <img
        src="./images/honey-milkchocolate.png"
        alt="Honey Milk chocolate"
        class="img-item"
        width="230"
        height="201"
      />
      <h3 class="subtitle-item">Honey</h3>
      <p class="desc-item">Milk chocolate</p>
      <p class="price-item">50 UAH</p>
    </li>
    <li class="card-product">
      <img
        src="./images/roasted-fruits-darkchocolate.png"
        alt="Roasted Fruits Dark chocolate"
        class="img-item"
        width="230"
        height="201"
      />
      <h3 class="subtitle-item">Roasted Fruits</h3>
      <p class="desc-item">Dark chocolate</p>
      <p class="price-item">66 UAH</p>
    </li>
    <li class="card-product">
      <img
        src="./images/classic-whitechocolate.png"
        alt=""
        class="img-item"
        width="230"
        height="201"
      />
      <h3 class="subtitle-item">Classic</h3>
      <p class="desc-item">White chocolate</p>
      <p class="price-item">54 UAH</p>
    </li>
  </ul>
</section>
