<section>
  <div class="container">
    <h2 class="product-title">Our <span>products</span></h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="product-card swiper-slide">
          <img
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt=""
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt=""
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt=""
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt=""
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt=""
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt=""
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt=""
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt=""
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
