<section>
  <div class="container">
    <h2 class="product-title">Our <span>products</span></h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="product-card swiper-slide">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./images/products/orange-darkchocolate.jpg"
            alt="orange dark chocolate"
          />
          <div>
            <h3 class="product-subtitle">orange</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./images/products/apple-cranberry-milkchocolate.jpg"
            alt="apple&cranberry milk chocolate"
          />
          <div>
            <h3 class="product-subtitle">apple&cranberry</h3>
            <p class="product-text">Milk chocolate</p>
          </div>
          <button class="product-btn" type="button">50 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./images/products/lime-seasalt-darkchocolate.jpg"
            alt="lime&sea salt dark chocolate"
          />
          <div>
            <h3 class="product-subtitle">lime&sea salt</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">66 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./images/products/pineapple-darkchocolate.jpg"
            alt="pineapple dark chocolate"
          />
          <div>
            <h3 class="product-subtitle">pineapple</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">54 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./images/products/classic-milkchocolate.jpg"
            alt="classic milk chocolate"
          />
          <div>
            <h3 class="product-subtitle">classic</h3>
            <p class="product-text">Milk chocolate</p>
          </div>
          <button class="product-btn" type="button">45 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./images/products/honey-milkchocolate.jpg"
            alt="honey milk chocolate"
          />
          <div>
            <h3 class="product-subtitle">honey</h3>
            <p class="product-text">Milk chocolate</p>
          </div>
          <button class="product-btn" type="button">50 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./images/products/roasted-fruits-darkchocolate.jpg"
            alt="roasted fruits dark chocolate"
          />
          <div>
            <h3 class="product-subtitle">roasted fruits</h3>
            <p class="product-text">Dark chocolate</p>
          </div>
          <button class="product-btn" type="button">66 UAH</button>
        </li>
        <li class="product-card swiper-slide">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./images/products/classic-whitechocolate.jpg"
            alt="classic white chocolate"
          />
          <div>
            <h3 class="product-subtitle">classic</h3>
            <p class="product-text">White chocolate</p>
          </div>
          <button class="product-btn" type="button">54 UAH</button>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
