<section>
  <div class="container review-container">
    <h2 class="review-title"><span>chocolate</span> is loved</h2>
    <div class="review-swiper">
      <ul class="review-swiper-wrapper swiper-wrapper">
        <li class="review-card swiper-slide">
          <img
            class="review-img"
            width="80"
            height="80"
            src="./images/reviews/victoria.jpg"
            alt="Victoria Dobrzhanska"
          />
          <h3 class="review-name">Victoria Dobrzhanska</h3>
          <p class="review-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="review-card swiper-slide">
          <img
            class="review-img"
            width="80"
            height="80"
            src="./images/reviews/nazar.jpg"
            alt="Nazar Babenko"
          />
          <h3 class="review-name">Nazar Babenko</h3>
          <p class="review-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="review-card swiper-slide">
          <img
            class="review-img"
            width="80"
            height="80"
            src="./images/reviews/olena.jpg"
            alt="Olena Kampusch"
          />
          <h3 class="review-name">Olena Kampusch</h3>
          <p class="review-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="review-card swiper-slide">
          <img
            class="review-img"
            width="80"
            height="80"
            src="./images/reviews/morz.jpg"
            alt="Morley Cellan"
          />
          <h3 class="review-name">Morley Cellan</h3>
          <p class="review-text">
            Basta chocolate pirmi daog! I love this chocolate bar. Perfect
            combination of light crispy wafer, covered in a thin layer
            chocolate.
          </p>
        </li>
      </ul>
      <div class="review-swiper-pagination"></div>
    </div>
    <button type="button" class="review-btn">Leave a review</button>
  </div>
</section>
