<div class="subscribe-modal is-hidden-subscribe" data-modal-subscribe>
  <div class="modal-window-subscribe">
    <img class="sub-image" />
    <button
      type="button"
      class="modal-button-close-subscribe"
      data-modal-close-subscribe
    >
      <svg
        class="modal-close-svg"
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
      >
        <use href="./images/review-modal/review-modal.svg#close-x"></use>
      </svg>
    </button>

    <div class="sub-form">
      <h2 class="modal-review-title">
        explore our <span><br />new chocolate</span> first!
      </h2>

      <div class="input-form">
        <form action="" class="modal-subscribe-form" id="form" name="form">
          <div>
            <input
              class="sub-input"
              id="email"
              name="email"
              type="email"
              placeholder="Enter your email"
              required
            />
            <button type="submit" class="subscribe-modal-send-btn">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
