<section class="top-seller-section">
    <h2 class="top-orange">TOP <span class="top-black"> SELLERS</span></h2>
    <ul class="top-seller">
        <li class="top-seller-list">
            <img src="./images/Top1.jpg"/> 
        </li>
        <li class="top-seller-list">
            <img src="./images/Top2.jpg"/>
        </li>
        <li class="top-seller-list">
            <img src="./images/Top3.jpg"/>
        </li>
    </ul>
    <p class="top-seller-description">
        Crazy enough chocolate originates from a bean just like the <br />
        coffee bean called Cacao. Cacao has been around for <br />
        thousands of years and was first discovered by the Native <br /> 
        American tribe called the Mayans.
    </p>
</section>